<main role="main" class="inner cover">
  <h1 class="cover-heading">Are you a Dog or Cat Person?</h1>
  <p class="lead">Let us guess whether or not you are a dog or cat person.
    <br />Enter your height and weight to see if you are a Dog or Cat person.
  </p>
  <div>
    <%= form_for(Guess.new, :url => { :action => "create" }) do |f| %>
      <input type="hidden" id="dog_avg_ratio" value="1:2">
      <input type="hidden" id="cat_avg_ratio" value="2:5">
      <div class="container">
        <div class="row">
          <div class="col">
            <%= f.select(:height, [], {},{ :class => 'custom-select custom-select-lg' }) do %>
              <% height = (54..80).to_a.map { |inch| [ (inch/12).floor.to_s+'\''+(inch%12).to_s, inch.to_s ] } %>
              <%= options_for_select(height) %>
            <% end %>
          </div>
          <div class="col">
            <%= f.number_field :weight, placeholder: 'Weight, lbs', class: "form-control form-control-lg", maxlength: "3", minlength: "2", 'data-toggle'=>"tooltip", 'data-placement'=>"bottom", 'title'=>"Enter your body weight in lbs, a number above 63" %>
          </div>
          <div class="col">
            <a type="button" name="button" id="guess" class="btn btn-primary btn-lg btn-block">Guess</a>
          </div>
        </div>
      </div>
      <%= render 'results', {f: f} %>
    <% end %>
  </div>
</main>

<div id="chart-container" class="container-fluid">
  <div class="row">
    <div id="canvas-holder" style="width:100%">
      <canvas id="chart"></canvas>
    </div>
    <%= javascript_tag do %>
      document.addEventListener('DOMContentLoaded', function(){
        renderChart(<%= @guess.cat_right %>, <%= @guess.cat_wrong %>, <%= @guess.dog_right %>, <%= @guess.dog_wrong %>);
      });
    <% end %>
  </div>
</div>
