<!DOCTYPE html>
<html>
  <head>
    <title>Are you a Dog or Cat Person</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">The Guessing Machine</h3>
          <nav class="nav nav-masthead justify-content-center">
            <%= link_to 'Home', root_path, class:'nav-link' %>
            <%= link_to 'Raw Data', chart_path, class:'nav-link' %>
            <%= link_to 'Accuracy Report', report_path, class:'nav-link' %>
          </nav>
        </div>
      </header>

      <%= yield %>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><small>© 2019 The GuessMaching, Inc. Terms Privacy Security </small></p>
        </div>
      </footer>

    </div>

    <%= javascript_include_tag 'main' %>

  </body>
</html>
